---
import SubscriptionManager from '@/components/SubscriptionManager';
import Layout from '../layouts/Layout.astro';
---

<Layout title="SubSuke - サブスク管理">
  <main>
    <SubscriptionManager client:load />
  </main>
</Layout>
